$primary-color:#ff752f;
body {
color :$primary-color}
.button{
display: inline-block;
color: $primary-color;
text-align: center;
border: solid 2px $primary-color;
}
.button-alert{
    a{
        @extend .button;
        border-radius: 4px;
    }
}
@mixin inline-block($margin:10px){
    display: inline-block;
    margin-left: $margin;
}
//@import "mixins"; apl a un fichier externe
$primary-color:#ff752f;
#box{
    font: {
        weight: bold;
        family: Algerian;
    }
    @include inline-block()
}
@for  $i from 1 through 3 {
    .m-#{$i} {
        margin: 0 ($i*0.25rem);
    }
}
$primary-color:#ff752f;
.btn{
    background: $primary-color;
    border-radius: 5px;
    @if  lightness($primary-color)> 50% {
        color:#ffb60b ;
    }
    @else {color:#ff1f17}
}
//workshop2
$primary:red;
.text{
    color:background(white);
    font-size: 20px;
}
textarea,h1{
      @extend .text;
}
//2
@mixin border($color:yellow,$width:2px){
 border: solid $width yellow;
}
.btn{
    @include border (yellow,3px)
}
//3
@function background($background-color){
    @if $background-color!='white' {
        @return white;
    } @else {@return black;}
}

$langages: html5,css3,java,react;
@function test1($list){
    @return nth($list,1);
}
@function test2($list){
    @return nth($list,length($list));
}
.langage{
    content: test1($langages),test2($langages);
}







